/* portfolio.css */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .container h1 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  
  .project {
    border: 1px solid #cccccc;
    padding: 20px;
  }
  
  .project h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .project img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .project p {
    font-size: 16px;
    margin-bottom: 15px;
  }
  
  .project a {
    display: block;
    background-color: #008080;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 5px;
  }
  
  .project a:hover {
    background-color: #005555;
  }
  